# FaceTune 项目依赖
numpy==1.23.5
streamlit
Pillow
streamlit-drawable-canvas
music21
pyphen
midi2audio

# So‑VITS‑SVC 依赖（如果你需要完整推理功能）
ffmpeg-python
Flask
Flask_Cors
gradio>=3.7.0
pyworld
scipy==1.10.0
SoundFile==0.12.1
torch
torchaudio
torchcrepe
tqdm
rich
loguru
scikit-maad
praat-parselmouth==0.3.3
onnx
onnxsim
onnxoptimizer
fairseq==0.12.2
librosa==0.9.1
tensorboard
tensorboardX
transformers
edge_tts
langdetect
pyyaml
pynvml
faiss-cpu
einops
local_attention
